/* "Helvetica LT Std" could be used, but it looks funny in some browsers */
/* line 379, ../../scss/vzrf/base/_global.scss */
.code-sample_result {
  *zoom: 1;
}
/* line 376, ../../scss/vzrf/base/_global.scss */
.code-sample_result:after {
  content: " ";
  display: table;
}
/* line 377, ../../scss/vzrf/base/_global.scss */
.code-sample_result:after {
  clear: both;
}

/* line 1, ../../scss/app/_bits.scss */
.main {
  overflow-x: visible;
}

/* line 5, ../../scss/app/_bits.scss */
.off-canvas_nav-icon:before {
  font-size: 1.5625rem;
}

/* line 9, ../../scss/app/_bits.scss */
.off-canvas_nav-icon.large {
  margin-top: -0.4375rem;
}

/* line 13, ../../scss/app/_bits.scss */
video[poster] {
  background: #595a5d no-repeat;
  background-size: contain;
  background-position: center center;
}

/* line 1, ../../scss/app/_code-sample.scss */
.w_code-sample {
  margin-bottom: 0.9375rem;
}

/* line 5, ../../scss/app/_code-sample.scss */
.code-sample_code {
  border: 2px solid #7f3483;
  padding: 0.625rem 1.25rem;
  position: relative;
  overflow-x: auto;
  background-color: rgba(127, 52, 131, 0.1);
  font-size: 0.8125rem;
  line-height: 1.2;
  max-height: 12.5rem;
}
@media only screen and (min-width: 30.0625em) {
  /* line 5, ../../scss/app/_code-sample.scss */
  .code-sample_code {
    max-height: 16.25rem;
  }
}
@media only screen and (min-width: 37.5625em) {
  /* line 5, ../../scss/app/_code-sample.scss */
  .code-sample_code {
    max-height: 21.875rem;
  }
}
@media only screen and (min-width: 61.5625em) {
  /* line 5, ../../scss/app/_code-sample.scss */
  .code-sample_code {
    max-height: 31.25rem;
  }
}

/* line 30, ../../scss/app/_code-sample.scss */
.w_code-sample,
.code-sample_result {
  position: relative;
}
/* line 33, ../../scss/app/_code-sample.scss */
.w_code-sample:before,
.code-sample_result:before {
  content: 'Code';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #7f3483;
  font-size: 0.6875rem;
  font-family: Consolas,"Liberation Mono",Courier,monospace;
  color: white;
  font-weight: bold;
  padding: 0.125rem 0.5rem 0.125rem 0.375rem;
  border-bottom-right-radius: 5px;
}

/* line 49, ../../scss/app/_code-sample.scss */
.code-sample_options {
  background-color: rgba(127, 52, 131, 0.3);
  border: 2px solid #7f3483;
  border-top: none;
}
/* line 54, ../../scss/app/_code-sample.scss */
.code-sample_options .button {
  margin: 0.1875rem 0.3125rem;
  padding-left: 0;
  padding-right: 0;
  background-color: #7f3483;
  color: white;
  width: 75%;
  text-transform: uppercase;
}
/* line 64, ../../scss/app/_code-sample.scss */
.code-sample_options .button.active {
  background-color: #bbbbbb;
  color: #595a5d;
}

/* line 71, ../../scss/app/_code-sample.scss */
.code-sample_result {
  margin-top: -2px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.875rem;
  left: 0;
  position: relative;
  border: 2px solid #7f3483;
  padding: 1.5625rem 1.25rem 0 1.25rem;
  background: white;
  width: 100%;
  min-height: 1px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  /*a*/
}
/* line 87, ../../scss/app/_code-sample.scss */
.code-sample_result:before {
  content: 'Result';
}
/* line 91, ../../scss/app/_code-sample.scss */
.code-sample_result.m_tiny {
  width: 320px;
}
/* line 94, ../../scss/app/_code-sample.scss */
.code-sample_result.m_small {
  width: 34.0625em;
}
/* line 97, ../../scss/app/_code-sample.scss */
.code-sample_result.m_medium {
  width: 41.5625em;
}
/* line 100, ../../scss/app/_code-sample.scss */
.code-sample_result.m_large {
  width: 65.5625em;
  left: -61px;
}
/* line 107, ../../scss/app/_code-sample.scss */
.code-sample_result iframe {
  display: inline-block;
  width: calc(100% + 2.5rem);
  margin-left: -1.25rem;
  border: none;
  overflow: hidden !important;
}
/* line 116, ../../scss/app/_code-sample.scss */
.code-sample_result .code-sample_open {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
  background-color: rgba(127, 52, 131, 0.7);
  color: white;
  border-top-left-radius: 4px;
  padding: 0.3125rem 0.625rem;
  font-size: 0.875rem;
}
/* line 127, ../../scss/app/_code-sample.scss */
.code-sample_result .code-sample_open:hover {
  background-color: #7f3483;
  color: white;
}

/* line 136, ../../scss/app/_code-sample.scss */
code.highlight,
code .highlight {
  background-color: rgba(127, 52, 131, 0.2);
}

/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/
/* line 7, ../../scss/app/_highlight.scss */
.hljs {
  display: block;
  color: #333;
  font-weight: normal;
}

/* line 18, ../../scss/app/_highlight.scss */
.hljs-comment,
.hljs-template_comment,
.diff .hljs-header,
.hljs-javadoc {
  color: #7e7e7d;
  font-style: italic;
}

/* line 30, ../../scss/app/_highlight.scss */
.hljs-keyword,
.css .rule .hljs-keyword,
.hljs-winutils,
.javascript .hljs-title,
.nginx .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status {
  color: #333;
  font-weight: bold;
}

/* line 37, ../../scss/app/_highlight.scss */
.hljs-number,
.hljs-hexcolor,
.ruby .hljs-constant {
  color: #099;
}

/* line 44, ../../scss/app/_highlight.scss */
.hljs-string,
.hljs-tag .hljs-value,
.hljs-phpdoc,
.tex .hljs-formula {
  color: #dd1144;
}

/* line 51, ../../scss/app/_highlight.scss */
.hljs-title,
.hljs-id,
.coffeescript .hljs-params,
.scss .hljs-preprocessor {
  color: #900;
  font-weight: bold;
}

/* line 59, ../../scss/app/_highlight.scss */
.javascript .hljs-title,
.lisp .hljs-title,
.clojure .hljs-title,
.hljs-subst {
  font-weight: normal;
}

/* line 66, ../../scss/app/_highlight.scss */
.hljs-class .hljs-title,
.haskell .hljs-type,
.vhdl .hljs-literal,
.tex .hljs-command {
  color: #458;
  font-weight: bold;
}

/* line 74, ../../scss/app/_highlight.scss */
.hljs-tag,
.hljs-tag .hljs-title,
.hljs-rules .hljs-property,
.django .hljs-tag .hljs-keyword {
  color: #000080;
  font-weight: normal;
}

/* line 81, ../../scss/app/_highlight.scss */
.hljs-attribute,
.hljs-variable,
.lisp .hljs-body {
  color: teal;
}

/* line 85, ../../scss/app/_highlight.scss */
.hljs-regexp {
  color: #009926;
}

/* line 93, ../../scss/app/_highlight.scss */
.hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.lisp .hljs-keyword,
.tex .hljs-special,
.hljs-prompt {
  color: #990073;
}

/* line 99, ../../scss/app/_highlight.scss */
.hljs-built_in,
.lisp .hljs-title,
.clojure .hljs-built_in {
  color: #0086b3;
}

/* line 108, ../../scss/app/_highlight.scss */
.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata {
  color: #999;
  font-weight: bold;
}

/* line 113, ../../scss/app/_highlight.scss */
.hljs-deletion {
  background: #ffdddd;
}

/* line 117, ../../scss/app/_highlight.scss */
.hljs-addition {
  background: #ddffdd;
}

/* line 121, ../../scss/app/_highlight.scss */
.diff .hljs-change {
  background: #0086b3;
}

/* line 125, ../../scss/app/_highlight.scss */
.hljs-chunk {
  color: #aaaaaa;
}
